html
    include includes/head

    body
        div(class='container')
            form(method='POST' action= action)
                .form-group
                    label(for='username') Username
                    input#username.form-control(
                        name='username'
                        type='text'
                        placeholder='Enter your username here'
                        value= user ? user.username : ''
                    )
                .form-group
                    label(for='password') Password
                    input#password.form-control(
                        name='password'
                        type='password'
                        placeholder='Enter your password here'
                        value= user ? user.password : ''
                    )

                input#id(
                    type='text'
                    hidden=true
                    value=user ? user.id : ''
                )
                button.btn.btn-primary(type='submit') Update